<h1>Parties!</h1>

<a href="/parties/new"><h4 id="host-party">Host a Party</h4></a>
<div id="hosted-parties">
  <h2>Hosted Parties</h2>
  <ul id="hosted-party-list"></ul>
</div>
<div id="upcoming-parties">
  <h2>Upcoming Parties</h2>

</div>
