<h1 id="party-name"></h1>
<p id="edit-party"></p>
<h2 id="host-name">Hosted by </h2>
<h2>Attendees:</h2>
<ul id="attendees-list"></ul>

<h2>Dishes:</h2>
<ul id="dishes-list"></ul>
<p id="add-dish"></p>
<div id="dish-add"></div>

<script id="dish-add-form" type="text/x-handlebars-template">
  <div id="add-a-dish">
    <h2>Add a Dish</h2>
    <div class="field"><input type="text" placeholder="Name"></div>  <p></p>
    <div class="field">
      <select id="category">
        <option value="appetizer">Appetizer</option>
        <option value="entree">Entree</option>
        <option value="dessert">Dessert</option>
      </select>
    </div>  <p></p>
    <div class="field"><input type="submit"></div>  <p></p>
    <div class="cancel"><a href="#" id="cancel-dish">Cancel</a></div>
  </div>
</script>
