<div id="party-info"></div>
<button onclick="showDishAdd()">Add a Dish</button>
<div id="dish-add"></div>

<script id="show-party" type="text/x-handlebars-template">
  <h1 id="party-name">{{partyName}}</h1>
  <h2 id="party-time">{{date}}</h2>
  <a href="#" id="edit-party"></a>
  <h2 id="host-name">Hosted by {{hostName}}</h2>
  <h2>Attendees:</h2>
  <ul id="attendees-list">
    {{#each attendees}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
  <h2>Dishes:</h2>
  <ul id="dishes-list">
    {{#each dishes}}
    <li>{{this.name}} - {{this.user_name}}</li>
    {{/each}}
  </ul>
</script>

<script id="dish-add-form" type="text/x-handlebars-template">
  <div id="add-a-dish">
    <h2>Add a Dish</h2>
    <form id="add-dish-form">
      <div class="field"><input name="food_name" type="text" placeholder="Name"></div>
      <div class="field">
        <select name="category" id="category">
          <option name="appetizer" value="appetizer">Appetizer</option>
          <option name="entree" value="entree">Entree</option>
          <option name="dessert" value="dessert">Dessert</option>
        </select>
      </div>
      <p></p>
      <div class="field"><input onclick="submitDish()" type="submit"></div>
      <div></div>
      <div class="cancel"><a href="#" id="cancel-dish">Cancel</a></div>
    </form>
  </div>
</script>
