<div id="party-info"></div>

<h2>Attendees:</h2>
<ul id="attendees-list"></ul>

<h2>Dishes:</h2>
<ul id="dishes-list"></ul>
<p id="add-dish"></p>
<div id="dish-add"></div>

<script id="dish-add-form" type="text/x-handlebars-template">
  <div id="add-a-dish">
    <h2>Add a Dish</h2>
    <div class="field"><input type="text" placeholder="Name"></div>
    <div class="field">
      <select id="category">
        <option value="appetizer">Appetizer</option>
        <option value="entree">Entree</option>
        <option value="dessert">Dessert</option>
      </select>
    </div>  <p></p>
    <div class="field"><input type="submit"></div>
    <div></div>
    <div class="cancel"><a href="#" id="cancel-dish">Cancel</a></div>
  </div>
</script>

<script id="show-party" type="text/x-handlebars-template">
  <h1 id="party-name">{{party_name}}</h1>
  <a href="#" id="edit-party">Edit {{party_name}}</a>
  <h2 id="host-name">Hosted by {{host_name}}</h2>
</script>
