<div id="party-info"></div>

<script id="dish-add-form" type="text/x-handlebars-template">
  <div id="add-a-dish">
    <h2>Add a Dish</h2>
    <div class="field"><input type="text" placeholder="Name"></div>
    <div class="field">
      <select id="category">
        <option value="appetizer">Appetizer</option>
        <option value="entree">Entree</option>
        <option value="dessert">Dessert</option>
      </select>
    </div>  <p></p>
    <div class="field"><input type="submit"></div>
    <div></div>
    <div class="cancel"><a href="#" id="cancel-dish">Cancel</a></div>
  </div>
</script>

<script id="show-party" type="text/x-handlebars-template">
  <h1 id="party-name">{{partyName}}</h1>
  <a href="#" id="edit-party">Edit {{partyName}}</a>
  <h2 id="host-name">Hosted by {{hostName}}</h2>
  <h2>Attendees:</h2>
  <ul id="attendees-list">
    {{#each attendees}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
  <h2>Dishes:</h2>
  <ul id="dishes-list">
    {{#each dishes}}
    <li>{{this.name}} - {{this.user_name}}</li>
    {{/each}}
  </ul>
  <a href="#" id="add-dish">Add a dish</a>
</script>
