<h1 id="party-name"></h1>
<p id="edit-party"></p>
<h2 id="host-name">Hosted by </h2>
<h2>Attendees:</h2>
<ul id="attendees-list"></ul>

<h2>Dishes:</h2>
<ul id="dishes-list"></ul>
<p id="add-dish"></p>
